@model SpiceHouse.Data.Models.ViewModels.MenuItemViewModel
@{
    ViewData["Title"] = "Delete";
}

<form method="post">
    <div class="border backgroundWhite">
        <h2 class="text-info">Menu Item Delete</h2>
        <br />
        <input type="hidden" asp-for="MenuItem.Id"/>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Name" class="custom-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MenuItem.Name" class="form-control" readonly/>
            </div>
        </div>
        @*<div class="form-group row">
                <div class="col-2">
                    <label asp-for="Category.Name" class="custom-label"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Category.Name" class="form-control" readonly/>
                </div>
            </div>*@
        <br/>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_Delete_BackButton" model="Model.MenuItem.Id"/>
            </div>
        </div>
    </div>
</form>