@model int
<div class="row">
    <div class="col-6">
        <button type="submit" value="Add to Cart" class="btn btn-primary form-control">Add to Cart</button>
    </div>
    <div class="col-6">
        <a asp-action="Index" class="btn btn-success form-control">Back</a>
    </div>
</div>